#leftPanel {
    width:350px;
    height: 768px;
    float: left;
    overflow-y: auto;
    white-space: normal;
}

#bodyContainer {
    white-space: nowrap;
}

.badge-arrow {
    margin-top: 4px;
    transition-duration: 0.2s;
    transition-property: transform;
}

.panel-open .badge-arrow {
    transform: rotate(90deg);
}

ul {
    padding-left: 25px;
}

.gear-group-a {
    background-color: #99801a;
}

.gear-group-l {
    background-color: #e6801a;
}

.gear-group-n {
    background-color: #40bf4d;
}

.gear-group-o {
    background-color: #ffffff;
}

.gear-group-p {
    background-color: #80bf33;
}

.gear-group-e {
    background-color: #7366b3;
}

.gear-group-h {
    background-color: #a666b3;
}

.gear-group-c {
    background-color: #80bfe6;
}

.gear-group-k {
    background-color: #73ccbf;
}
